page {
	background-color: #F4F5F6;
}

.home-bg {
	width: 100%;
	height: 100%;
}

.home-picture {
	/* background-size: contain; */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	background-color: #004956;
	position: relative;
}
.homepage-back{
	position: absolute;
	top: 20rpx;
	left: 10rpx;
	width: 80rpx;
	height: 80rpx;
	border-radius: 80rpx;
	background-image: url(@/static/home.png);
	background-position: center;
	background-size:80%;
	background-repeat: no-repeat;
}
.homepage-back image{
	width: 60rpx;
	height: 60rpx;
}

/deep/ .segmented-control__text{
	font-size: 34rpx;
	font-weight: 900;
}

.charts3 {
	width: 600rpx;
	height: 260rpx;
	margin: 0 auto;
	margin-top: 10rpx;
	
}

.charts3 image {
	width: 200rpx;
	height: 200rpx;
	border-radius: 200rpx;
	margin-top: 50rpx;
}

.home-user-name text {
	font-size: 38rpx;
	color: #FFFFFF;
	font-weight: 700;
}

.home-info {
	width: 96%;
	margin: 0 auto;
	margin-top: 20rpx;
}

.profile-content,
.preferences {
	padding-bottom: 40rpx;
	

}

.profile-detail {}

.profile-detail-relative {
	position: relative;
	box-sizing: border-box;
	margin-top: 10rpx;
	border-radius: 20rpx;
	background-color: #FFFFFF;
	padding-top: 20rpx;
}

.profile-detail-basic {}

.profile-edit-button {
	position: absolute;
	right: 40rpx;
	top: 30rpx;
	color: #00B3D2;
	font-weight: 700;
	font-size: 32rpx;
	width: 40rpx;
	height: 40rpx;
}

.profile-edit-button image {
	width: 100%;
	height: 100%;
}
.profile-media{
}
.profile-detail-item-title {
	line-height: 80rpx;
	text-align: left;
	font-size: 34rpx;
	box-sizing: border-box;
	font-weight: 700;
	padding-left: 20rpx;
	border-bottom: 1rpx solid #EEEEEE;
	
}
.profile-detail-item-title text{
	font-size: 32rpx;
}

.profile-detail-item-box {
	width: 98%;
	height: 100%;
	margin: 0 auto;
	padding: 20rpx;
}

.profile-detail-item-box text {
	font-weight: 500;
}

.profile-detail-item-box-item {
	margin-top: 10rpx;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.profile-detail-item-box-item-1 {}

.profile-detail-item-box-item-2 {
	white-space: pre-wrap;
	word-break: break-all;
}

.profile-photo-1 {
	text-align: center;	
}

.profile-photo-1 image {
	width: 200rpx;
	height: 200rpx;
	border-radius: 200rpx;
}

.profile-header-photo-1 {
	text-align: center;
	height: 300rpx;
	width: 98%;
	border: 1rpx solid #EEEEEE;
	border-radius: 20rpx;
}

.profile-header-photo-1 image {
	max-height: 100%;
	max-width: 100%;
	text-align: center;
	border-radius: 20rpx;
}

.pics-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.profile-profile-pics-item {
	width: 48%;
	height: 200rpx;
	border: 1rpx solid #EEEEEE;
	margin-top: 10rpx;
	margin-left: 1%;
	border-radius: 20rpx;
}

.profile-profile-pics-item image {
	max-height: 100%;
	max-width: 100%;
	border-radius: 20rpx;
}

.profile-intro-video {
	width: 100%;

}

.profile-detail-item-tags {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20rpx;
	border-radius: 20rpx;
	background-color: rgba(239, 231, 235, 0.8);
	margin-top: 20rpx;
	position: relative;
}

.profile-detail-item-tags-1 {
	width: 100%;
	text-align: center;
	line-height: 60rpx;
	color: #333333;
}

.profile-detail-item-tags-2 {
	padding-left: 20rpx;
	padding-right: 20rpx;
	margin-left: 20rpx;
	margin-top: 20rpx;
	height: 60rpx;
	line-height: 60rpx;
	background-color: #FFFFFF;

	border-radius: 20rpx;
	text-align: center;
	color: #333333;
}

.profile-detail-item-tags-3 {
	position: absolute;
	right: 20rpx;
	top: 10rpx;
	color: #00B3D2;
	font-weight: 600;
}

#myVideo {
	width: 100%;
}


.profile-detail-item-box-1 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 40rpx 20rpx;
	border-radius: 20rpx;
	background-color: rgba(239, 231, 235, 0.4);
	margin-top: 20rpx;
	position: relative;

}

.profile-box-1-button {
	position: absolute;
	right: 20rpx;
	top: 0rpx;
	color: #00B3D2;
	font-weight: 600;

}

.profile-detail-item-box-item-work {
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 20rpx;
	padding: 20rpx;
	margin-top: 20rpx;
	white-space: pre-wrap;
	word-break: break-all;
	position: relative;
}

.segmented-control-bg {
	background-color: #FFFFFF !important;
	border-radius: 20rpx;
	height: 100rpx;
	line-height: 100rpx;
}


.basic-info,
.credentials,
.experience,
.interest,
.our-jobs {
	margin-top: 20rpx;
	background-color: #FFFFFF;
	border-radius: 20rpx;
}
.interest{
	padding-bottom: 20rpx;
}

.basic-info-t,
.our-jobs-t,
.interest-t ,.credentials-t{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80rpx;
	line-height: 80rpx;
	padding-left: 20rpx;
	padding-right: 20rpx;
	border-bottom: 1rpx solid #EEEEEE;
}

.basic-info-t-title,
.our-jobs-t-title,
.credentials-t-title,
.countries-travel-title,
.interest-title {
	font-size: 34rpx;
	font-weight: 700;
}

.exp-title{
	font-size: 34rpx;
	font-weight: 700;
	padding-left: 20rpx;
	border-bottom: 1rpx solid #EEEEEE;
	line-height: 80rpx;
}

.countries-travel-fontsize{
	font-size: 34rpx;
}
.certifications-title{
	font-size: 34rpx;
	font-weight: 700;
}

.basic-info-edit,
.languages-edit,
.education-add,
.education-item-edit,
.certifications-edit,
.work-exp-add,
.work-exp-item-edit,
.countries-travel-edit,
.interest-edit {
	color: #00B3D2;
}

.edit-icon {
	width: 80rpx;
	height:80rpx;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.edit-icon image {
	width: 40rpx;
	height: 40rpx;
}

.add-icon {
	width: 80rpx;
	height:80rpx;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.add-icon image {
	width: 40rpx;
	height: 40rpx;
}

.basic-info-b,
.our-jobs-b {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 20rpx;
}

.basic-info-item {
	word-wrap: break-word;
	word-break: break-all;
	white-space: pre-wrap;
	margin-left: 20rpx;
	width: 100%;
}

.basic-info-item text {
	font-size: 34rpx;
	color: #333333;
}
.basic-info-item text:first-child{
	color: #808080;
	font-size: 30rpx;
}
.basic-info-item text:nth-child(2){
	margin-left: 16rpx;
}

.bio {
	padding-left: 20rpx;
}

.languages-top,
.education-t,
.certifications-t,
.work-exp-t,
.countries-travel-t {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80rpx;
	line-height: 80rpx;
	padding-left: 20rpx;
	padding-right: 20rpx;

}

.languages-title,
.education-title,
.work-exp-title,
.bio-title{
	font-size: 34rpx;
	font-weight: 700;
}
.hobbies-title{
	font-size: 34rpx;
	font-weight: 700;
	padding-left: 20rpx;
}
.work-exp-b{
	padding-left: 20rpx;
	padding-right: 20rpx;
}
.bio-content{
	word-wrap: break-word;
	font-size: 30rpx;
}

.languages-container,
.hobbies-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 20rpx;
}

.languages-item,
.hobbies-item {
	margin-top: 10rpx;
	margin-left: 20rpx;
	border-radius: 60rpx;
	padding-left: 20rpx;
	padding-right: 20rpx;
	background-color: rgba(0, 179, 210, 0.1);
	color: #333333;
	height: 60rpx;
	line-height: 60rpx;
	font-size: 30rpx;
}
.education-b{
	padding-left: 20rpx;
	padding-right: 20rpx;
}
.education-item,
.work-exp-item {
	padding: 10rpx;
}
.education-school-name{
	font-size: 30rpx;
	font-weight: 700;
}
.education-item-2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.education-field{
	font-size: 30rpx;
	color: #808080;
	width: 80%;
	

	 /* 这两个在技术上是一样的, 为了兼容了浏览器两个都加上 */
	  overflow-wrap: break-word;
	  word-wrap: break-word;
	
	  -ms-word-break: break-all;
	  /* 这个的使用在web-kit中有些危险，他可能会阶段所有东西 */
	  word-break: break-all;
	  /* Instead use this non-standard one: */
	  word-break: break-word;
	
	  /* 如果浏览器支持的话增加一个连接符(Blink不支持) */
	  -ms-hyphens: auto;
	  -moz-hyphens: auto;
	  -webkit-hyphens: auto;
	  hyphens: auto;

}
.education-degree{
	font-size: 30rpx;
	color: #000000;
}
.education-date{
	font-size: 26rpx;
	color: #808080;
}
.education-item-3{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20rpx;
}


.education-item-edit,
.work-exp-item-edit {
	width: 10%;
	text-align: right;
}

.certifications-b,
.countries-travel-b {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	/* padding-left: 20rpx; */
	padding-right: 20rpx;
	padding-bottom: 20rpx;
}

.certifications-item,
.countries-travel-item {
	background-color: rgba(0, 179, 210, 0.1);
	color: #333333;
	padding-left: 20rpx;
	padding-right: 20rpx;
	border-radius: 60rpx;
	margin-top: 10rpx;
	margin-left: 20rpx;
	height: 60rpx;
	line-height: 60rpx;
	font-size: 30rpx;
}

.profile-detail-item-box-item-tg {

	padding-left: 20rpx;
	padding-right: 50rpx;
	height: 60rpx;
	line-height: 60rpx;
	background-color: rgba(0, 179, 210, 0.1);
	border-radius: 60rpx;
	position: relative;
	margin-left: 10rpx;
	margin-top: 10rpx;
}

.profile-detail-item-box-item-tg text {
	color: #333333;
}

.profile-detail-item-box-item-tg-right {
	width: 20rpx;
	height: 20rpx;
	border-radius: 20rpx;
	position: absolute;
	background-color: #b1c452;
	right: 20rpx;
	top: 0;
	bottom: 0;
	margin: auto;

}

.profile-detail-item-box-item-tg-wrong {
	width: 20rpx;
	height: 20rpx;
	border-radius: 20rpx;
	position: absolute;
	background-color: #EF2D37;
	right: 10rpx;
	top: 0;
	bottom: 0;
	margin: auto;

}


.profile-photo {
	padding: 20rpx;
	border-bottom: 1rpx solid #EEEEEE;
}

.profile-photo-title {
	font-size: 36rpx;
	font-weight: 600;
}

.profile-photo-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.subject-title,
.location-title,
.job-type-title,
.age-to-teach-title,
.region-title,
.benefits-title,
.student-age-title {
	font-size: 34rpx;
	font-weight: 700;
}

.subject,
.location,
.job-type,
.age-to-teach,
.region,
.benefits,
.student-age {
	margin-top:20rpx;
	background-color: #FFFFFF;
	border-radius: 20rpx;
	padding-right: 20rpx;
	padding-top: 14rpx;
	padding-bottom: 20rpx;
}

.subject-t,
.location-t,
.job-type-t,
.age-to-teach-t,
.region-t,
.benefits-t,
.student-age-t {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 20rpx;
	line-height: 80rpx;
}

.subject-b,
.location-b,
.job-type-b,
.age-to-teach-b,
.region-b,
.benefits-b,
.student-age-b {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10rpx;
}

.subject-item,
.location-item,
.job-type-item,
.age-to-teach-item,
.region-item,
.benefits-item,
.student-age-item {
	background-color: rgba(0, 179, 210, 0.1);
	color: #333333;
	padding-left: 20rpx;
	padding-right: 20rpx;
	border-radius: 60rpx;
	margin-top: 10rpx;
	margin-left: 20rpx;
	height: 60rpx;
	line-height: 60rpx;
	font-size: 30rpx;
}

.legal-info{
	padding: 20rpx;
	background-color: #FFFFFF;
	border-radius: 20rpx;
	margin-top: 20rpx;
}
.legal-info-t{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	line-height: 80rpx;
	height: 80rpx;
	border-bottom: 1rpx solid #EEEEEE;
}
.legal-info-title{
	font-size: 34rpx;
	font-weight: 700;
}
.legal-info-b{
}
.legal-info-b-item{
}
.legal-info-b-item-1{
	font-size: 30rpx;
	color: #808080;
}
.legal-info-b-item-2{
	font-size: 34rpx;
	word-break: break-all;
}
.preview-file{
	text-decoration: underline;
	color: #00B3D2;
	width: 80%;
	height: 200rpx;
}

.preview-file image{
	height: 100%;
	width: 100%;
	border-radius: 20rpx;
}

.show-more{
	line-height: 80rpx;
	font-size: 34rpx;
	text-align: center;
	color: #00B3D2;
	border-radius: 20rpx;
}

.profile-upload-icon{
	width: 200rpx;
	height: 200rpx;
	border: 1rpx dashed #004956;
	text-align: center;
	line-height: 200rpx;
	font-size: 38rpx;
	color: #00B3D2;
	border-radius: 10rpx;
	margin-left: 20rpx;
}

.error-star{
	font-size: 40rpx;
	font-weight: 700;
	color: #FF3333;
	margin-left: 10rpx;
}

.work-exp-b-item{
	padding: 10rpx;
}
.work-exp-item-1{
	font-size: 30rpx;
	font-weight: 700;
	word-wrap: break-word;
}
.work-exp-job-title{
	font-size: 30rpx;
	color: #000000;
	width: 50%;
	
	/* 这两个在技术上是一样的, 为了兼容了浏览器两个都加上 */
	 overflow-wrap: break-word;
	 word-wrap: break-word;
		
	 -ms-word-break: break-all;
	 /* 这个的使用在web-kit中有些危险，他可能会阶段所有东西 */
	 word-break: break-all;
	 /* Instead use this non-standard one: */
	 word-break: break-word;
		
	 /* 如果浏览器支持的话增加一个连接符(Blink不支持) */
	 -ms-hyphens: auto;
	 -moz-hyphens: auto;
	 -webkit-hyphens: auto;
	 hyphens: auto;
}
.work-exp-date{
	font-size: 26rpx;
	color: #808080;
	
}
.work-exp-item-2{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	font-size: 26rpx;
	color: #808080;
}
.work-exp-item-3{
	font-size: 26rpx;
	color: #808080;
}
.work-exp-item-4{
	margin-top: 10rpx;
	font-size: 30rpx;
	padding-bottom: 10rpx;
}