.page {
	background-color: #F4F5F6;
}

.index-bg {
	/* padding-bottom: 160rpx; */
}

.swiper {
	height: 340rpx;
}

.swiper image {
	width: 100%;
	height: 100%;
}

.swiper-item {
	height: 100%;
}

.index-box {
	width: 90%;
	margin: 0 auto;
	margin-top: 40rpx;

}

.index-box-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.index-box-item {
	width: 32%;
	height: 220rpx;
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #FFFFFF;
	border-radius: 20rpx;
	text-align: center;
	padding-top: 20rpx;
	padding-left: 20rpx;
	padding-right: 20rpx;
	box-shadow: 0 0 30rpx 0 rgba(43, 86, 112, .1);
	margin-top: 20rpx;
}

.index-box-item image {
	width: 90rpx;
	height: 90rpx;
}

.index-box-item text {
	font-size: 28rpx;
	font-weight: 600;
	margin-top: 16rpx;
}

.index-box-item-button {
	width: 32%;
	height: 220rpx;
	background-color: #FFFFFF !important;
	border-radius: 20rpx;
	text-align: center;

	padding: 0;
	padding-top: 20rpx;
	padding-left: 20rpx;
	padding-right: 20rpx;
	box-shadow: 0 0 30rpx 0 rgba(43, 86, 112, .1);

	margin: 0;
	margin-top: 20rpx;

	border: 0rpx solid transparent;
	outline: none;

	display: flex;
	flex-direction: column;
	align-items: center;


}

.index-box-item-button::after {
	border: none;
	background-color: none;
}

.index-box-item-button image {
	width: 90rpx;
	height: 90rpx;
}

.index-box-item-button text {
	font-size: 28rpx;
	font-weight: 600;
	line-height: initial;
	margin-top: 16rpx;
}


.why-esl-passport {
	width: 90%;
	margin: 0 auto;
	margin-top: 40rpx;

}

.why-esl-passport-title {
	font-size: 34rpx;
	font-weight: 800;
}

.why-esl-passport-img {
	width: 100%;
	/* height: 240rpx; */
	height: 216rpx;
	margin-top: 20rpx;
	background-color: #000000;
	text-align: center;
}

.why-esl-passport-img-swiper {
	/* height: 240rpx; */
	height: 216rpx;
}

.why-esl-passport-img-swiper image {
	width: 100%;
	height: 100%;
}

.our-reviews {
	width: 90%;
	margin: 0 auto;
	margin-top: 40rpx;
}

.our-reviews-title {
	font-size: 34rpx;
	font-weight: 800;
}

.our-reviews-1 {
	margin-top: 10rpx;
}

.our-reviews-2 {
	margin-top: 10rpx;
}

.our-reviews-2 button {
	background-color: #0AA0A8;
	width: 70%;
	height: 80rpx;
	line-height: 80rpx;
	color: #FFFFFF;
	border-radius: 80rpx;
}


.events-slider {
	width: 90%;
	margin: 0 auto;
	margin-top: 40rpx;
}

.article-swiper{
	width: 92%;
	height: 520rpx;
	margin: 40rpx auto 0;
}

.article {
	width: 100%;
	padding: 20rpx;
	background-color: #FFFFFF;
	border-radius: 20rpx;
}
.article:active{
	background-color: #EEEEEE !important;
}
.article-image {
	width: 100%;
	height: 300rpx;
	overflow: hidden;
}

.article-image image {
	width: 100%;
	border-radius: 20rpx;
}

.article-title {
	color: #808080;
	width: 100%;
	font-size: 30rpx;
	line-height: 40rpx;
	margin-top: 10rpx;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; //多行在这里修改数字即可
	overflow: hidden;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}

.article-detail{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1rpx solid #EEEEEE;
	margin-top: 10rpx;
	height: 80rpx;
}
.article-detail-txt{
	font-size: 30rpx;
}