page {
	background-color: #F4F5F6;
}

.list {
	padding-bottom: 120rpx;
}

.list-container {
	margin-top: 100rpx;
}

.list-item {
	background-color: #FFFFFF;
	padding: 20rpx;
	width: 96%;
	margin: 20rpx auto;
	border-radius: 20rpx;
	box-sizing: border-box;
	box-shadow: 0 0 30rpx 0 rgba(43, 86, 112, .1);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.list-item-l {
	width: 24%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.list-item-l image {
	width: 140rpx;
	height: 140rpx;
	border-radius: 140rpx;
	border: 1rpx solid #EEEEEE;
}

.list-item-r {
	width: 76%;

}

.list-item-r-t {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.job-type {
	font-size: 34rpx;
	color: #1D87AE;
	font-weight: 700;
}

.list-item-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 10rpx 0;

}


.list-item-4 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.edit {
	margin-left: 20rpx;
}

.detail button,
.edit button {
	background-color: rgba(0, 180, 210, 0.8);
	color: #FFFFFF;
	height: 60rpx;
	line-height: 60rpx;
	font-size: 28rpx;
	border-radius: 40rpx;

}

.job-title {
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 34rpx;
	font-weight: 700;
}

.salary {
	font-size: 30rpx;
	color: #00B3D2;
	font-weight: 600;
}

.salary text:first-child{
	font-size: 32rpx;
}

.salary text:nth-child(2){
	
}

.tags-item {
	background-color: #00B3D2;
	color: #FFFFFF;
	border-radius: 10rpx;
	padding-left: 10rpx;
	padding-right: 10rpx;
	margin-left: 10rpx;
	margin-top: 10rpx;
}

.experience {
	background-color: #00B3D2;
	color: #FFFFFF;
	border-radius: 10rpx;
	padding-left: 10rpx;
	padding-right: 10rpx;
}

.education {
	background-color: #00B3D2;
	color: #FFFFFF;
	border-radius: 10rpx;
	padding-left: 10rpx;
	padding-right: 10rpx;
	margin-left: 10rpx;
}

.business-name {
	font-size: 30rpx;
	line-height: 70rpx;
}

.interview-photo {
	height: 50rpx;
}

.interview-photo image {
	width: 50rpx;
	height: 50rpx;
	border-radius: 50rpx;
}

.interview-name {
	margin-left: 10rpx;
	width: 55%;
	margin-left: 10rpx;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.job-location {
	width: 40%;
	text-align: right;
	color: #808080;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.empty {
	width: 100%;
	height: 100%;
}

.empty-text {
	width: 100%;
	margin-top: 30%;
	text-align: center;
	font-size: 34rpx;
}

.empty-image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.empty-image image {
	width: 200rpx;
	height: 200rpx;
}

.xll-ads {
	width: 96%;
	margin: 20rpx auto;
}

.xll-ads-swiper {
	width: 100%;
	height: 240rpx;
}

.xll-ads-swiper image {
	width: 100%;
	height: 100%;
}

.swiper-item {
	height: 240rpx;
}