.page {
	background-color: #F4F5F6;
}
.index-bg{
	padding-bottom: 160rpx;
}

.swiper {
	height: 340rpx;
}

.swiper image {
	width: 100%;
	height: 100%;
}

.swiper-item {
	height: 100%;
}

.index-box {
	width: 90%;
	margin: 0 auto;
	margin-top: 40rpx;
	
}

.index-box-box {
	display: flex;
	align-items: center;
	justify-content:space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.index-box-item {
	width: 32%;
	height: 230rpx;
	background-color: #FFFFFF;
	border-radius: 20rpx;
	text-align: center;
	padding-top: 40rpx;
	padding-left: 10rpx;
	padding-right: 10rpx;
	box-shadow: 0 0 30rpx 0 rgba(43, 86, 112, .1);
	margin-top: 20rpx;
	
}

.index-box-item image {
	width: 90rpx;
	height: 90rpx;
}

.index-box-item text {
	font-size: 28rpx;
	font-weight: 700;
}



.why-esl-passport{
	width: 90%;
	margin: 0 auto;
	margin-top: 40rpx;
	
}

.why-esl-passport-title{
	font-size: 34rpx;
	font-weight: 800;
}
.why-esl-passport-img{
	width: 100%;
	height: 240rpx;
	margin-top: 20rpx;
	background-color: #000000;
	text-align: center;
}
.why-esl-passport-img-swiper{
	height: 240rpx;
}
.why-esl-passport-img-swiper image{
	width: 100%;
	height: 100%;
}
.our-reviews{
	width: 90%;
	margin: 0 auto;
	margin-top: 40rpx;
}

.our-reviews-title{
	font-size: 34rpx;
	font-weight: 800;
}

.our-reviews-1{
	margin-top: 10rpx;
}
.our-reviews-2{
	margin-top: 10rpx;
}
.our-reviews-2 button{
	background-color: #0AA0A8;
	width: 70%;
	height: 80rpx;
	line-height: 80rpx;
	color: #FFFFFF;
	border-radius: 80rpx;
}

.location-filter{
	padding-top: 40rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}
.location-button{
	width: 220rpx;
	height: 80rpx;
	line-height: 80rpx;
	text-align: center;
	color: #333333;
	border-radius: 20rpx;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 0 0 30rpx 0 rgba(43, 86, 112, .1);
	font-size: 32rpx;
	font-weight: 700;
}

.location-shanghai-active{
	/* background: linear-gradient(-90deg, #29bdd9 0%, #276ace 100%); */
	background-color: #0AA0A8;
	color: #FFFFFF;
}
.location-other-active{
	/* background: linear-gradient(to right, #ff9569 0%, #e92758 100%); */
	background-color: #1D87AE;
	color: #FFFFFF;
}
.location-other{
	margin-left: 20rpx;
}

.index-box{
	margin-top: 10rpx;
}

.events-slider{
	margin-top: 40rpx;
}


