page {
	background-color: #F4F5F6;
	/* background-image: linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%); */
}

.detail {
	padding-bottom: 100rpx;
}

.detail-container {
	padding: 20rpx;
	width: 96%;
	margin: 20rpx auto;
	background-color: #FFFFFF;
	border-radius: 20rpx;
}

.content-container {
	padding-top: 20rpx;
}

.detail-item {
	padding: 10rpx;
}

.detail-item-title {
	font-size: 34rpx;
	font-weight: 700;
}

.detail-item-result {
	word-break: break-all;
	padding-left: 10rpx;
	font-size: 30rpx;

}

.part-image {
	width: 100%;
	padding: 20rpx;
}

.part-image image {
	width: 100%;
	/* height: 100%; */
}

.view-files {
	color: #00B3D2;
	text-decoration: underline;
}

.back-button {
	margin-top: 40rpx;

}

.back-button button {
	height: 80rpx;
	line-height: 80rpx;
	color: #FFFFFF;
	background-color: #004956;
	border-radius: 20rpx;
}

.photo-top-container {
	text-align: center;
	background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);

	box-shadow: 0 0 30rpx 0 rgba(43, 86, 112, .1);
	background-size: cover;
	background-position: center;
	height: 300rpx;
}

.photo-top {
	width: 160rpx;
	height: 160rpx;
	border-radius: 160rpx;
	margin: 0 auto;
	position: relative;
	bottom: -200rpx;
	background-color: #FFFFFF;
}

.photo-top image {
	width: 160rpx;
	height: 160rpx;
	border-radius: 160rpx;
	border: 1rpx solid #EEEEEE;
}

.photo-business {
	position: absolute;
	right: -16rpx;
	bottom: 0;
}

.photo-business image {
	width: 60rpx;
	height: 60rpx;
	border-radius: 60rpx;
}



.turn-page-btn {

	width: 96%;
	height: 80rpx;
	line-height: 80rpx;
	margin: 10rpx auto;
	background-image: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
	color: #FFFFFF;
	text-align: center;
	border-radius: 20rpx;

}

.discount-card-btn {
	width: 96%;
	height: 80rpx;
	line-height: 80rpx;
	margin: 10rpx auto;
	background-image: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
	color: #FFFFFF;
	text-align: center;
	border-radius: 20rpx;
}

.xll-header {
	width: 100%;
	border: 1rpx solid #0AA0A8;
	border-radius: 10rpx;
	padding: 20rpx;
	margin-top: 80rpx;
	position: relative;
}
.xll-header-share{
	position: absolute;
	right: 20rpx;
	top: 20rpx;
}
.xll-header-name{
	font-size: 34rpx;
	font-weight: 700;
	text-align: center;
}
.xll-header-title {
	font-size: 34rpx;
	font-weight: 700;
	text-align: center;
}

.xll-header-tags {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 20rpx;
}

.xll-header-tag {
	background-color: #EFE7EB;
	color: #333333;
	font-size: 24rpx;
	margin-left: 20rpx;
	padding:2rpx 10rpx;
	line-height: 50rpx;
	border-radius: 6rpx;
}

.third-container {
	width: 96%;
	margin: 20rpx auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.third-item {
	width: 49%;
	background-color: #0AA0A8;
	color: #FFFFFF;
	text-align: center;
	padding: 10rpx;
	border-radius: 20rpx;
}
.third-item-bg2{
	background-color: #B1C452;
}

.wechat-qrcode{
	width: 96%;
	margin: 0rpx auto;
	padding:10rpx 0;
	border-radius: 20rpx;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wechat-qrcode image{
	width: 200rpx;
	height: 200rpx;
}