page {
	background-color: #FFFFFF;
	/* background-image: linear-gradient(120deg, #F4F5F6 0%, #00B3D2 100%); */
}

.logo {
	text-align: center;
}

.logo image {
	width: 200rpx;
	height: 200rpx;
}

.deals-container {
	padding: 20rpx;
}

.add-deals-container {
	width: 96%;
	margin: 0 auto;
	/* margin-top: 20%; */
}

.add-deals-item {
	height: 80rpx;
	line-height: 80rpx;
	text-align: center;
	background-color: #CCCCCC;
	color: #FFFFFF;
	margin-top: 20rpx;
	border-radius: 20rpx;
}

.add-deals-first {
	background-color: #00B3D2;
}


.deals-button {
	margin-top: 40rpx;
}

.deals-button button {
	width: 80%;
	height: 80rpx;
	line-height: 80rpx;
	font-size: 30rpx;
	background-color: #B1C452;
	color: #FFFFFF;
}


.list-item {
	background-color: #FFFFFF;
	padding: 20rpx;
	width: 96%;
	/* height: 200rpx; */
	margin: 20rpx auto;
	border-radius: 20rpx;
	box-sizing: border-box;
	box-shadow: 0 0 30rpx 0 rgba(43, 86, 112, .1);
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.list-item-tag {
	position: absolute;
	top: 10rpx;
	right: -90rpx;
	color: #FFFFFF;
	transform: rotate(30deg);
	padding-top: 4rpx;
	padding-bottom: 4rpx;
	padding-left: 160rpx;
	padding-right: 80rpx;
	text-align: center;
	font-size: 26rpx;
}

.actived-0 {
	background-color: #00B3D2;
}

.actived-1 {
	background-color: #B1C452;
}

.actived-2 {
	background-color: #FF2870;
}

.list-item-l {
	width: 20%;
	height: 100%;
	/* float: left; */
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.list-item-r {
	width: 80%;
	/* float: left; */
}

.list-item-1 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	/* border-bottom: 1rpx solid #EEEEEE; */
	/* padding-bottom: 20rpx; */
}

.list-item-2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 10rpx;
	padding-bottom: 10rpx;

}

.list-item-3 {}

.list-item-4 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.list-item-5 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-top: 10rpx;
}

.edit {
	margin-left: 20rpx;
}

.detail button,
.edit button {
	background-color: rgba(0, 180, 210, 0.8);
	color: #FFFFFF;
	height: 60rpx;
	line-height: 60rpx;
	font-size: 28rpx;
	border-radius: 40rpx;

}

.left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.right {
	width: 40%;
	text-align: right;
}


.job-title {
	width: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 32rpx;
	font-weight: 600;
	line-height: 80rpx;
	margin-left: 20rpx;
}

.salary {
	font-size: 32rpx;
	color: #00B3D2;
	font-weight: 600;
}

.tags-item {
	background-color: #EFE7EB;
	color: #000000;
	border-radius: 10rpx;
	padding-left: 10rpx;
	padding-right: 10rpx;
	margin-left: 10rpx;
	margin-top: 10rpx;
}

.experience {
	background-color: #00B3D2;
	color: #FFFFFF;
	border-radius: 10rpx;
	padding-left: 10rpx;
	padding-right: 10rpx;
}

.education {
	background-color: #00B3D2;
	color: #FFFFFF;
	border-radius: 10rpx;
	padding-left: 10rpx;
	padding-right: 10rpx;
	margin-left: 10rpx;
}

.business-name {
	font-size: 30rpx;
	line-height: 70rpx;
}

.interview-photo {
	height: 120rpx;
	width: 120rpx;
}

.interview-photo image {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1rpx solid #EEEEEE;

}

.interview-name {
	margin-left: 10rpx;
}

.job-location {
	color: #808080;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.empty-image {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.empty-image image {
	width: 200rpx;
	height: 200rpx;
}

.deals-tips {
	width: 100%;
	padding-left: 20rpx;
	padding-right: 20rpx;
	padding-top: 10rpx;
	padding-bottom: 10rpx;
	font-size: 28rpx;
	color: #808080;
	border-radius: 10rpx;
	text-align: center;
}
